body {
    min-height: 100vh;
    background: linear-gradient(120deg, rgb(0, 140, 255), rgb(199, 12, 199));
}

.contact-form {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    display: flex;
    flex-direction: column;
 

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 2em;
    width: 500px;

    background-color: rgba(245, 255, 250, 0.65);
    border-radius: 10px;
}
.contact-form h3 {
    text-align: center;
}
.subject {
    width: 100%;
    height: 100 px;
}

input[type=text] {
    width: 50%;
    padding: 5px 8px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 5px 8px;
    margin: 8px 0;
    box-sizing: border-box;
}
 
.contact-submit-button {
    margin: 1em 0 1em 0;
    border: none;
    background-color: rgb(42, 159, 255);
    border-radius: 50px;
    padding: 1em 0 1em 0;
}

.contact-submit-button:hover {
    background-color: rgb(83, 178, 255);
    transform: scale(1.1);
    transition: 0.2s;
}
@media (max-width: 800px) {
    .contact-form input {
      margin: 10px 0;
    }
    
    .contact-form {
      flex-direction: column;
      align-items: stretch;
    }
}