* {
    margin: 0;
    padding: 0;
}

/* Navigation bar */

.nav-bar {
    position: fixed;
    width: 100%;
    background-color: lightgray;
}

.nav-bar > div {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-bar > div * {
    padding: 1em;
    text-decoration: none;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.nav-link:hover {
    background-color: gray;
    color: white;
}

.nav-logo {
    flex: 1;
}

/* Main */

main {
    padding-top: 3em;
}

/* Footer */

footer {
    display: block;
    position: fixed;
    padding: 0.5em;
    
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: lightgray;
}

.company-info {
    display: flex;
    text-align: center;
}

.company-info > p {
    flex-grow: 1;
}