* {
    margin: 0;
    padding: 0;
}

/* Navigation bar */

.nav-bar {
    position: fixed;
    width: 100%;
    background-color: lightgray;
}

.nav-bar > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-bar > ul > li {
    padding: 1em;
}

.nav-bar > ul > li > a {
    text-decoration: none;
}

.nav-link:hover {
    background-color: gray;
}

.nav-link:hover  > a {
    color: white;
}

.nav-logo {
    flex: 1;
}

/* Main */

main {
    padding-top: 50px;
}

/* Footer */

footer {
    display: block;
    position: relative;
}

.company-info {
    display: flex;
    text-align: center;
}

.company-info > p {
    flex-grow: 1;
}