* {
    margin: 0;
    padding: 0;
}

/* Navigation bar */

.nav-bar {
    position: fixed;
    width: 100%;
    background-color: lightgray;

    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-bar > * {
    padding: 1em;
    text-decoration: none;
}

.nav-bar a, a:visited, a:hover, a:active {
    color: inherit;
}

.nav-link:hover, #burger-icon:hover {
    background-color: gray;
    color: white;
}

.nav-logo {
    flex: 1;
}

#burger-icon {
    display: none;
}

@media screen and (max-width: 650px) {
    .nav-bar a {
        display: none;
    }

    #burger-icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    #burger-icon:hover {
        cursor: pointer;
    }

    .nav-bar-dropdown {
        flex-direction: column;
        z-index: 1000;
    }

    .nav-bar-dropdown a {
        display: block;
        text-align: right;
    }
}

/* Main */

main {
    padding-top: 3em;
}

/* Footer */

footer {
    display: block;
    position: fixed;
    padding: 0.5em;
    
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: lightgray;
}

.company-info {
    display: flex;
    text-align: center;
}

.company-info > p {
    flex-grow: 1;
}