body {
    min-height: 100vh;
    background: linear-gradient(120deg, rgb(0, 140, 255), rgb(199, 12, 199));
}

.login-form {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 2em;
    width: 200px;

    background-color: rgba(245, 255, 250, 0.65);
    border-radius: 10px;
}

.login-form * {
    margin: 0.5em 0 0.5em 0;
}

.login-form input[type="email"], input[type="password"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px black solid;
    outline: none;
}

.login-form h1 {
    text-align: center;
}

.login-submit-button {
    margin: 1em 0 1em 0;
    border: none;
    background-color: rgb(42, 159, 255);
    border-radius: 50px;
    padding: 1em 0 1em 0;
}

.login-submit-button:hover {
    background-color: rgb(83, 178, 255);
    transform: scale(1.1);
    transition: 0.2s;
}

.sign-in {
    font-size: small;
    text-align: center;
}

.sign-in a {
    font-weight: bold;
    text-decoration: none;
}

.sign-in a:hover {
    text-decoration: underline;
}